footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

footer > p > span {
  font-weight: bold;
}

@media (max-width: 400px) {
  footer {
    font-size: 0.7em;
    text-align: center;
    margin: 0 20px;
  }
}
